---
import ExperienceItem from "./ExperienceItem.astro";

const EXPERIENCIE = [
	{
		date: "Actualmente...",
		title: "Freelancer",
		company: "VISIORWARE",
		description:
			"Realizo tareas como administrador de sistemas como la resolución de problemas en equipos informáticos, administración de redes o desplegar nuevos servicios en red. También realizo aplicaciones de software personalizadas. Desde aplicaciones web hasta aplicaciones móviles.",
	},
	{
		date: "Noviembre 2022",
		title: "Practicas administrador de sistemas",
		company: "STIKETS S.L.",
		description:
			"Responsable de la resolución de problemas de los equipos informáticos. También me encargué de la migración de una sala de servidores en la que se tuvo que montar un rack y montar todos los cables de red a medida.",
	},
];
---

<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
